<%- include('../includes/header-ap.ejs') %>

<section class="container">
    <div class="items item-1">
        <img src="/dist/icons/logo.png" alt="logo">
        <div class="nav-items">
            <img src="/dist/icons/icons8_grid_2.ico" alt="grid-icon">
            <img src="/dist/icons/icons8_doorbell.ico" alt="notification-icon">
            <img src="/dist/icons/icons8_cloud_account_login_male_100px.png" alt="profile-image">
            <div>
                <p>Admin</p>
                <p>User Profile</p>
            </div>
        </div>
    </div>
    <div></div>

    <div class="item-3">

        <div class="side__main">
            <section class="quick-pay">
                <h4>Quick payment</h4>
                <div class="quick-pay-form">
                    <div class="option">
                        <h5>choose method</h5>
                    </div>
                    <form action="" class="payment-form">
                        <div class="card-input">
                            <input type="text" placeholder="enter card or  phone  number">
                        </div>
                        <div class="card-input">
                            <input type="text" placeholder="enter amount">
                        </div>
                        <a href="#">next <span><img src="" alt=""></span></a>
                    </form>
                </div>
            </section>

            <section class="payment-notification">
                <h4>Notification</h4>
                <% if (deposites.length > 0) { %>
                <div class="payment-notification-list">
                    <% for(let deposit of deposites) { %>
                    <figure class="notice">
                        
                        <div class="notice-img"><img src="/dist/icons/Ellipse 38.png" alt="profile"></div>
                        <figcaption>
                            <h6> Transcation made </h6>
                            <p><span style="color: black;" class="amt"> Deposit :: <%= deposit.accountNumber %></span></p>
                            <p> <span style="color: black;"  class="status"> Name : <%= deposit.username %></span></p>
                            <p><span  style="color: black;" class="status"> Account Type : <%= deposit.accountType %></span>  </p>
                            <p><span style="color: black;" class="status"> Amount Deposited : &cent; <%= deposit.amountToWithdraw %></span>  </p>
                        </figcaption>
                    </figure>
                    <% } %>
                    <%  } else { %>
                        <h4> No transcations yet </h4>
                  <% } %>
                </div>
            </section>
            
        </div>
    </div>
</section>


<%- include('../includes/navigation-ap.ejs') %>

<%- include('../includes/footer-ap.ejs') %>